{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <ul class="header-links">
            <li><a href="{% url 'home-page' %}">Home</a></li>
        </ul>
    </header>
    {% for new in news %}
    <div class="news-card">
        <h2 class="news-title"><a href="{% url 'news-details-page' new.id %}">{{ new.title }}</a></h2>
        <span class="news-date">{{ new.created_at|date:"d/m/Y" }}</span>
        {% if news.image %}
        <img src="/static{{ news.image.url }}" alt="{{ new.title }}">
        {% endif %}
    </div>
    {% endfor %}
</body>
</html>